.report-site-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/assets/universe.jpg) no-repeat;
  background-size: cover;
  .main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .header {
      top: 20px;
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      h1 {
        color: rgba (212, 210, 106, 1);
        font-weight: normal;
        font-size: 2rem;
        color: white;
        text-align: center;
      }
      p {
        color: white;
        text-align: center;
        font-family: "Arial", Helvetica, sans-serif;
      }
    }
    .comments {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      margin-top: 1rem;
      width: 80vw;
      fieldset {
        border: none;
        select {
          width: 80vw;
          background: rgba(237, 237, 237, .5);
          color: mintcream;
          margin: 1rem 0 !important;
        }
        textarea {
          width: 80vw;
          height: 40vh;
          background: rgba(237, 237, 237, .5);
          &::placeholder {
            color: mintcream;
          }
        }
      }
      button {
        border: none;
        margin: 3rem;
        background-color: #fff;
        border-radius: 40px;
        padding: 1rem;
        width: 40vw;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
    a {
      text-decoration: none;
      background-color: rgba(170, 167, 57, 1);
      position: fixed;
      bottom: 0;
      height: 15vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 253, 170, 1);
      h2 {
        font-weight: normal;
      }
    }
  }
}