<section class="register-site-content">
    <main class="main-content">
        <h1>Register</h1>

        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register($event)">
            <fieldset>
                <input type="text" placeholder="Enter your name" required formControlName="name" />
                <input type="number" placeholder="Enter your age" required formControlName="age" />
                <select required formControlName="job_id" style="margin: 1rem;">
                    <option [value]="NO_JOB_SELECTED">Select an occupation</option>
                    <option *ngFor="let job of jobs" [value]="job.id">{{ job.name }}</option>
                </select>
            </fieldset>

            <button type="submit" [disabled]="registerForm.invalid">
                Register</button>
        </form>

    </main>
</section>