  .register-site-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/assets/0f044e2325425feafc707427a1038ba8.jpg) no-repeat;
    background-size: cover;
    .main-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      height: 90vh;
      width: 100vw;
      h1 {
        color: #fff;
        font-weight: normal;
        font-size: 2rem;
        text-align: center;
      }
      form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
        fieldset {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          height: 25vh;
          input {
            background: rgba(237, 237, 237, .5);
            height: 2rem;
            width: 80vw;
            border-radius: 10px;
            margin-top: .3rem;
            padding-left: 1rem;
            border: none;
            color: white;
            &::placeholder {
              color: #fff;
            }
          }
          select {
            height: 2rem;
            border-radius: 10px;
            background: rgba(237, 237, 237, .5);
          }
        }
        button {
          color: #fff;
          border-radius: 30px;
          border: none;
          height: 3rem;
          width: 10rem;
          font-size: 1rem;
          text-transform: uppercase;
          background: rosybrown;
        }
      }
    }
  }