<section class="register-site-content">
  <main class="main-content">
    <h1>Register</h1>
    <form>
      <input type="text" name="name" value="Name">
      <input type="text" name="age" value="Age">
      <select name="select-oppucation">
        <option value="default" selected>Select Oppcupation</option>
        <option value="basketball-coach">Basketball Coach</option>
        <option value="front-end-developer">Font-End Developer</option>
        <option value="professional-gamer">Professional Gamer</option>
        <option value="alien-hunter">Alien Hunter</option>
      </select>
    </form>
    <a href="">
      <h2>Check in</h2>
    </a>
  </main>  
</section>