.home-site-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/assets/big_deal_mar.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  .main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    h1 {
      text-transform: uppercase;
      color: #fff;
      font-weight: normal;
      font-size: 3rem;
      text-align: center;
    }
    a {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: rgba(11, 237, 237, .5);
      opacity: .2;
      animation: border-pulse 2s infinite;
    }
    h2 {
      color: #fff;
      font-weight: normal;
      text-align: center;
      font-size: 1rem;
    }
  }
}

// .rgba-primary-0 { color: rgba(170,167, 57,1) }	/* Main Primary color */
// .rgba-primary-1 { color: rgba(255,253,170,1) }
// .rgba-primary-2 { color: rgba(212,210,106,1) }
// .rgba-primary-3 { color: rgba(128,125, 21,1) }
// .rgba-primary-4 { color: rgba( 85, 83,  0,1) }