<section class="encounter-site-content">
  <main class="main-content">
    <div class="header">
      <h1>Recent Encounters</h1>
      <p>See an Alien? Report it!</p>
    </div>  

    <div class="encounter-list">
      <ul>
        <li *ngFor="let encounter of encounters">
          <p>{{ encounter.atype}}</p>
          <p>{{ encounter.date }}</p>
          <p>{{ encounter.action }}</p>
        </li>
      </ul>
    </div>

    <a href="">
      <h1>Report Encounter</h1>
    </a>
  </main>  
</section>